@(title: String, form: Form[Cost], projects: List[Project], project: Project)



@dashboard.dashboard(title) {

    @helper.form(action = helper.CSRF(routes.FinancesController.save()), 'id -> "myForm") {
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            @helper.inputText(form("name"), 'class -> "form-control", '_label -> "Pojmenování:")
                            @helper.inputText(form("describtion"), 'class -> "form-control", '_label -> "Popis:")
                            @helper.inputText(form("cost"), 'class -> "form-control", '_label -> "Částka:")
                            @if(project == null) {
                                <label for="projects">Projekt (<a href="@routes.ProjectController.create()">Založit</a>
                                    )</label>
                                <select name="project" id="projects" class="form-control">
                                @for(project <- projects) {
                                    <option value="@project.projectId">@project.name</option>
                                }
                                </select>
                            } else {
                                <label for="projects">Projekt</label>
                                <input type="hidden" value="@project.projectId">
                                <div>@project.name</div>
                            }
                            <input type="submit" class="form-control" value="Přidat">
                        </div>
                        @if(form.hasGlobalErrors) {
                            <p class="error">
                            @form.globalError.message
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

}