@(title: String, costs: List[Cost], projects: List[Project], totalCost:Integer)

@dashboard.dashboard(title) {
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <span>Filtrování dle projektu:</span>
                    <form method="get" action="/finances/project" id="project-filter" class="nav-item">
                        <select class="form-control" name="projectId">
                        @for(project <- projects) {
                            <option class="project-click" value="@project.projectId">@project.name</option>
                        }
                        </select>
                    </form>
                </div>
            </div>

            </nav>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Projekt</th>
                        <th>Zákazník</th>
                        <th>Popis</th>
                        <th>Částka</th>
                    </tr>
                </thead>
                <tbody>
                @for(cost <- costs) {
                    <tr>
                        <td>@cost.project.getName</td>
                        <td>@cost.project.getCustomer.getName</td>
                        <td>@cost.describtion</td>
                        <td>@cost.cost ,- Kč</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Souhrn
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Celkové výdaje:</th>
                            <td>@totalCost,-Kč</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.project-click').click(function () {
            $('#project-filter').submit();
        })
    </script>
}