@(title: String, form: Form[Customer], addressForm: Form[Address])



@dashboard.dashboard(title) {

    @helper.form(action = helper.CSRF(routes.CustomerController.save()), 'id -> "myForm") {
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            @helper.inputText(form("name"), 'class -> "form-control", '_label -> "Jméno:")
                            @helper.inputText(form("email"), 'class -> "form-control", '_label -> "E-mail:")
                            @helper.inputText(addressForm("street"), 'class -> "form-control", '_label -> "Ulice:")
                            @helper.inputText(addressForm("citycode"), 'class -> "form-control", '_label -> "PSČ:")
                            @helper.inputText(addressForm("town"), 'class -> "form-control", '_label -> "Město:")
                            @helper.inputText(addressForm("telnumber"), 'class -> "form-control", '_label -> "Telefonní číslo:")
                            <input type="submit" class="form-control" value="Přidat">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}