@(title: String, customer: Customer, projectForm : Form[Project], projects : List[Project])


@dashboard.dashboard(title) {
    @dashboard.customer.project(customer, projectForm)
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <button type="button" class="nav-link btn btn-primary" data-toggle="modal" data-target="#add-project">
                                Založit nový projekt
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Projekt</th>
                                <th scope="col">Progres</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(project <- projects) {
                                <tr>
                                    <th><a href="@routes.ProjectController.get(project.projectId)">@project.name</a></th>
                                    <td><a href="@routes.ProjectController.get(project.projectId)">@project.getProggres h</a> / <strong>@project.getBudget h</strong></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Kontaktní údaje
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Email:</th>
                            <td>@customer.address.getEmail</td>
                        </tr>
                        <tr>
                            <th>Telefon:</th>
                            <td>@customer.address.getTelnumber</td>
                        </tr>
                        <tr>
                            <th>Adresa:</th>
                            <td>
                                <div>@customer.address.getStreet</div>
                                <div>@customer.address.getTown</div>
                                <div>@customer.address.getCitycode</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}