@(title: String, customers : List[Customer])


@dashboard.dashboard(title) {
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Projekty</th>
                <th>Kontakt</th>
            </tr>
        </thead>
        <tbody>
        @for(customer <- customers) {
            <tr>
                <td>@customer.name</td>
                <td>@for(project <- customer.getProjects) {
                    <div class="badge badge-info"><a href="@routes.ProjectController.get(project.getProjectId)">@project.name</a></div>
                }</td>
                <td>@customer.address.getEmail</td>
                <td><a href="@routes.CustomerController.get(customer.customerId)">Detail</a></td>
                <td><a href="@routes.CustomerController.delete(customer.customerId)">Smazat</a></td>
                <td><a href="@routes.CustomerController.edit(customer.customerId)">Upravit</a></td>
            </tr>
        }
        </tbody>
    </table>
}