@(customer: Customer,  form : Form[Project])

<div class="modal fade" id="add-project">
    <div class="modal-dialog">
        <div class="modal-content">
                <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Založit nový projekt</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
                <!-- Modal body -->
            @helper.form(action = helper.CSRF(routes.ProjectController.save()), 'id -> "myForm") {
                <div class="modal-body">
                    <div class="form-group">
                        @helper.inputText(form("name"), 'class -> "form-control", '_label -> "Název:")
                        @helper.inputText(form("budget"), 'class -> "form-control", '_label -> "Hodiny:")
                        @helper.inputText(form("deadline"), 'class -> "form-control datepicker", '_label -> "Deadline:")
                        <input type="hidden" name="customer" value="@customer.customerId">
                    </div>
                    @if(form.hasGlobalErrors) {
                        <p class="error">
                        @form.globalError.message
                        </p>
                    }
                </div>
                    <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Zavřít</button>
                    <button type="submit" class="btn btn-primary">Založit</button>
                </div>
            }
        </div>
    </div>
</div>