@(title: String, customer: Customer, form: Form[Customer], addressForm: Form[Address])



@dashboard.dashboard(title) {

    @helper.form(action = helper.CSRF(routes.CustomerController.update()), 'id -> "myForm") {
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name">Jméno</label>
                            <input id="name" class="form-control" value="@customer.name" name="name">
                            <label for="email">E-mail:</label>
                            <input id="email" class="form-control" value="@customer.getAddress.getEmail" name="email">
                            <label for="email">Ulice:</label>
                            <input id="street" class="form-control" value="@customer.getAddress.getStreet" name="street">
                            <label for="citycode">PSČ:</label>
                            <input id="citycode" class="form-control" value="@customer.getAddress.getCitycode" name="citycode">
                            <label for="town">E-mail:</label>
                            <input id="town" class="form-control" value="@customer.getAddress.getTown" name="town">
                            <label for="telnumber">Telefon:</label>
                            <input id="telnumber" class="form-control" value="@customer.getAddress.getTelnumber" name="telnumber">
                            <input type="hidden" name="addressId" value="@customer.getAddress.addressId">
                            <input type="hidden" name="customerId" value="@customer.customerId">
                            <input type="submit" class="form-control" value="Uložit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}