@(title: String, form: Form[Project])



@dashboard.dashboard(title) {

    @helper.form(action = helper.CSRF(routes.ProjectController.save()), 'id -> "myForm") {
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            @helper.inputText(form("name"), 'class -> "form-control", '_label -> "Název:")
                            @helper.inputText(form("budget"), 'class -> "form-control", '_label -> "Rozpočet (CZK):")
                            <input type="submit" class="form-control" value="Přidat">
                        </div>
                        @if(form.hasGlobalErrors) {
                            <p class="error">
                            @form.globalError.message
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

}