@(title: String, project: Project, tasks: List[Task])


@dashboard.dashboard(title) {
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <h3>Provedené práce</h3>
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Zaměstnanec</th>
                                <th scope="col">Předmět</th>
                                <th scope="col">Popis</th>
                                <th scope="col">Hodiny</th>
                                <th scope="col">Datum</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(task <- tasks) {
                                <tr>
                                    <th><a href="@routes.UserController.get(task.getEmployee.getEmployeeId)">@task.getEmployee.getFirstname @task.getEmployee.getLastname</a></th>
                                    <td>@task.subject</td>
                                    <td>@task.description</td>
                                    <td>@task.hours</td>
                                    <td>@task.getDate</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Projekt
                </div>
                <div class="card-body">
                    <li class="list-group-item" style="border: none;">
                        <strong>Název</strong>: <a href="@routes.ProjectController.get(project.getProjectId)">@project.getName</a>
                    </li>
                    <li class="list-group-item" style="border: none;">
                        <strong>Deadline</strong>: @project.getDeadLine
                    </li>
                    <li class="list-group-item" style="border: none;">
                        <strong>Rozpočet hodin</strong>: @project.budget
                    </li>
                    <li class="list-group-item" style="border: none;">
                        <strong>Zákazník</strong>: <a href="@routes.CustomerController.get(project.getCustomer.getCustomerId)">@project.getCustomer.getName</a>
                    </li>
                </div>
            </div>
        </div>
    </div>
}