@(title: String, projects: List[Project])

@dashboard.dashboard(title) {
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Projekt</th>
                <th>Zákazník</th>
                <th>Rozpočet</th>
                <th>Aktuální úkoly</th>
                <th>Deadline</th>
                <th>Progress</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        @for(project <- projects) {
            <tr>
                <td>@project.name</td>
                <td>project.customer</td>
                <td>@project.budget</td>
                <td></td>
                <td>@project.deadLine</td>
                <td>project.getProgress()</td>
                <td>@project.state</td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
    </div>
}