@(project: Project, form: Form[Assigment], teams: List[Team])

<div class="modal fade" id="add-assigment">
    <div class="modal-dialog">
        <div class="modal-content">
                <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Přidat úkol</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            @if(teams.size() > 0) {
                    <!-- Modal body -->
                @helper.form(action = helper.CSRF(routes.ProjectController.addAssigment()), 'id -> "myForm") {
                    <div class="modal-body">
                        <div class="form-group">
                            @helper.inputText(form("title"), 'class -> "form-control", '_label -> "Titulek:")
                            @helper.textarea(form("description"), 'class -> "form-control", '_label -> "Popis:")
                            <label for="teams">Zadat týmu (<a href="@routes.TeamController.create()">Založit</a>)</label>
                            <select name="team" id="teams" class="form-control">
                            @for(team <- teams) {
                                <option value="@team.teamId">@team.name</option>
                            }
                            </select>
                            <input type="hidden" name="project" value="@project.projectId">
                        </div>
                        @if(form.hasGlobalErrors) {
                            <p class="error">
                            @form.globalError.message
                            </p>
                        }
                    </div>
                        <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Zavřít</button>
                        <button type="submit" class="btn btn-primary">Přidat</button>
                    </div>
                }
            } else {
                <div class="modal-body">
                    V projektu není přiřazený tým
                </div>
                    <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zavřít</button>
                </div>
            }
        </div>
    </div>
</div>