@(project: Project, form: Form[Assigment])

<div class="modal fade" id="add-cost">
    <div class="modal-dialog">
        <div class="modal-content">
                <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Přidat výdaj k projektu @project.name</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

                <!-- Modal body -->
            @helper.form(action = helper.CSRF(routes.ProjectController.addCost()), 'id -> "myForm") {
                <div class="modal-body">
                    <div class="form-group">
                        @helper.inputText(form("name"), 'class -> "form-control", '_label -> "Pojmenování:")
                        @helper.inputText(form("describtion"), 'class -> "form-control", '_label -> "Popis:")
                        @helper.inputText(form("cost"), 'class -> "form-control", '_label -> "Částka:")
                        <input type="hidden" name="project" value="@project.projectId">
                    </div>
                </div>
                    <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Zavřít</button>
                    <button type="submit" class="btn btn-primary" >Přidat</button>
                </div>
            }

        </div>
    </div>
</div>