@(title: String, form: Form[Project], customers: List[Customer])



@dashboard.dashboard(title) {

    @helper.form(action = helper.CSRF(routes.ProjectController.save()), 'id -> "myForm") {
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            @helper.inputText(form("name"), 'class -> "form-control", '_label -> "Název:")
                            @helper.inputText(form("budget"), 'class -> "form-control", '_label -> "Hodiny:")
                            @helper.inputText(form("deadline"), 'class -> "form-control datepicker", '_label -> "Deadline:")
                            <label for="customers">Zákazník (<a href="@routes.CustomerController.create()">Založit</a>)</label>
                            <select name="customer" id="customers" class="form-control">
                            @for(customer <- customers) {
                                <option value="@customer.customerId">@customer.name</option>
                            }
                            </select>
                            <input type="submit" class="form-control" value="Přidat">
                        </div>
                        @if(form.hasGlobalErrors) {
                            <p class="error">
                            @form.globalError.message
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

}