@(title: String, project: Project, assigmentForm: Form[Assigment],
        teams: List[Team], projectAssigments: List[Assigment], involvedTeams: List[Team],
        involvedEmployees: List[Employee], tasks: List[Task], taskForm: Form[Task], loggedUser: Employee)


@dashboard.dashboard(title) {
    @dashboard.project.assigment(project, assigmentForm, involvedTeams)
    @dashboard.project.cost(project, assigmentForm)
    @dashboard.project.team(project, teams)
    @dashboard.project.task(project, projectAssigments, involvedEmployees, taskForm)
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                        @if(loggedUser.getRole.getRoleId == 1) {
                            <button type="button" class="nav-link btn btn-primary" data-toggle="modal" data-target="#add-team">
                                Alokovat tým
                            </button>
                        }
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link btn btn-primary" data-toggle="modal" data-target="#add-assigment">
                                Přidat úkol
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link btn btn-primary" data-toggle="modal" data-target="#add-cost">
                                Přidat výdaj
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link btn btn-primary" data-toggle="modal" data-target="#add-work">
                                Přidat práci
                            </button>
                        </li>
                        @if(loggedUser.getRole.getRoleId == 1) {
                            <li class="nav-item">
                                <a href="@routes.ProjectController.edit(project.projectId)">
                                    <button type="button" class="nav-link btn btn-primary">
                                        Editovat
                                    </button>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="card-body">
                    <h3>Úkoly</h3>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Úkol</th>
                                <th scope="col">Popis</th>
                                <th scope="col">Tým</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(assigment <- projectAssigments) {
                            <tr>
                                <th><a href="@routes.AssigmentController.get(assigment.assigmentId)"> @assigment.title</a></th>
                                <td>@assigment.description</td>
                                <td><a href="@routes.TeamController.get(assigment.getTeam.teamId)">@assigment.getTeam.getName</a></td>
                                <td><a href="@routes.AssigmentController.delete(assigment.assigmentId)"><i class="fas fa-window-close"></i></a></td>
                            </tr>
                        }

                        </tbody>
                    </table>
                    <h3>Odvedené práce</h3>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Předmět</th>
                                <th scope="col">Zaměstnanec</th>
                                <th scope="col">Tým</th>
                                <th scope="col">Popis</th>
                                <th scope="col">Úkol</th>
                                <th scope="col">Doba</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(task <- tasks) {
                            <tr>
                                <th>@task.subject</th>
                                <td><a href="@routes.UserController.get(task.getEmployee.employeeId)">@task.getEmployee.getFirstname @task.getEmployee.getLastname</a></td>
                                <td><a href="@routes.TeamController.get(task.getAssigment.getTeam.teamId)">@task.getAssigment.getTeam.getName</a></td>
                                <td>@task.description</td>
                                <td><a href="@routes.AssigmentController.get(task.getAssigment.getAssigmentId)">@task.getAssigment.getTitle</a></td>
                                <td>@task.hours</td>
                                <td><a href="@routes.TaskController.delete(task.taskId)" ><i class="fas fa-window-close"></i></a></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Informace
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Hodiny</th>
                            <td>@project.getProggres/<strong>@project.budget</strong>
                                @if(project.getProggres <= project.budget) {
                                    <i class="fas fa-check-circle"></i>
                                } else {
                                    <i class="fas fa-exclamation-circle"></i>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>Deadline</th>
                            <td>@project.getDeadLine</td>
                        </tr>
                        <tr>
                            <th>Statut</th>
                            <td>@if(project.getState == false) {
                                Hotovo
                            } else {
                                Pracuje se
                            } <a href="@routes.ProjectController.changeState(project.projectId)">Změnit</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Alokované týmy
                </div>
                <ul class="list-group list-group-flush">
                @for(team <- involvedTeams) {
                    <li class="list-group-item"><a href="@routes.TeamController.get(team.teamId)">@team.name</a>
                        @if(loggedUser.getRole.getRoleId == 1) {
                            <a href="@routes.ProjectController.removeTeam(project.projectId, team.teamId)"><i class="fas fa-window-close"></i></a>
                        }
                    </li>
                }
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                    Náklady na projekt
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Práce:</th>
                            <td>@project.getEmployeeCosts,- Kč</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Ostatní výdaje:</th>
                            <td>@project.getOtherCostsAmount,- Kč</td>
                            <td><a href="@routes.FinancesController.getFinancesOfProject(project.projectId)">
                                Detail</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Zákazník
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Email:</th>
                            <td>@project.customer.getAddress.getEmail</td>
                        </tr>
                        <tr>
                            <th>Telefon:</th>
                            <td>@project.customer.getAddress.getTelnumber</td>
                        </tr>
                        <tr>
                            <th>Adresa:</th>
                            <td>
                                <div>@project.customer.getAddress.getStreet</div>
                                <div>@project.customer.getAddress.getTown</div>
                                <div>@project.customer.getAddress.getCitycode</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}