@(title: String, projects: List[Project])

@dashboard.dashboard(title) {
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Projekt</th>
                <th>Zákazník</th>
                <th>Hodiny</th>
                <th>Aktuální úkoly</th>
                <th>Deadline</th>
                <th>Progress</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        @for(project <- projects) {
            <tr>
                <td><a href="@routes.ProjectController.get(project.projectId)">@project.name</a></td>
                <td><a href="@routes.CustomerController.get(project.customer.getCustomerId)">@project.customer.getName</a></td>
                <td>@project.budget</td>
                <td>
                @for(assigment <- project.getAssigment) {
                    <div class="badge badge-info"><a href="@routes.AssigmentController.get(assigment.assigmentId)">@assigment.title</a> <a href="@routes.TeamController.get(assigment.getTeam.getTeamId)">(@assigment.getTeam.getName)</a></div>
                }
                </td>
                <td>@project.getDeadLine</td>
                <td class="chart"><canvas height="30" width="30" data-budget="@project.getBudget" data-progress="@project.getProggres" class="proggressChart"></canvas></td>
                <td>@if(project.state) {
                    <div class="icon"><i class="fas fa-briefcase"></i></div>
                } else {
                    <div class="icon"> <i class="fas fa-check"></i></div>
                }
                </td>
                <td><a href="@routes.ProjectController.get(project.projectId)">Detail</a></td>
                <td><a href="@routes.ProjectController.edit(project.projectId)">Upravit</a></td>
                <td><a href="@routes.ProjectController.delete(project.projectId)">Smazat</a></td>
            </tr>
        }
        </tbody>
    </table>
    <script>
            $('.proggressChart').each(function () {
                var progresPositive = ($(this).data('progress') == undefined) ? 0 : $(this).data('progress');
                var progresNegative = $(this).data('budget') - progresPositive;
                var $this = $(this);
                var item = $this.get(0).getContext("2d");
                var chart = new Chart(item, {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: [progresPositive, progresNegative],
                            borderWidth: 0,
                            backgroundColor: ['#00FF00', '#FF0000']
                        }],

                    },
                    options: {
                        color: [
                            'red', 'blue'
                        ],
                        responsive: false,
                        maintainAspectRation: false
                    }
                })
            });
    </script>

}