@(project: Project, projectAssigments: List[Assigment], involvedEmployees: List[Employee], form: Form[Task])

<div class="modal fade" id="add-task">
    <div class="modal-dialog">
        <div class="modal-content">
                <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Přidat úkol</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            @if(projectAssigments.size() > 0 && involvedEmployees.size() > 0) {
                    <!-- Modal body -->
                @helper.form(action = helper.CSRF(routes.ProjectController.addTask()), 'id -> "myForm") {
                    <div class="modal-body">
                        <div class="form-group">
                            @helper.inputText(form("subject"), 'class -> "form-control", '_label -> "Předmět:")
                            @helper.inputText(form("hours"), 'class -> "form-control", '_label -> "Doba:")
                            <label for="date">Datum:</label>
                            <input name="date" id="date" class="form-control datepicker">
                            @helper.textarea(form("description"), 'class -> "form-control", '_label -> "Popis:")
                            <input type="hidden" name="project" value="@project.projectId">
                            <label for="assigment">Úkol:</label>
                            <select id="assigment" class="form-control" name="assigment">
                            @for(assigment <- projectAssigments) {
                                <option value="@assigment.assigmentId">@assigment.title</option>
                            }
                            </select>
                            <label for="employee">Zaměstnanec</label>
                            <select id="employee" name="employee" class="form-control">
                            @for(employee <- involvedEmployees) {
                                <option value="@employee.employeeId">@employee.getFirstname @employee.getLastname</option>
                            }
                            </select>
                        </div>
                    </div>
                        <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Zavřít</button>
                        <button type="submit" class="btn btn-primary">Přidat</button>
                    </div>

                }
            } else {
                <div class="modal-body">
                    Pro tuto akci nejsou v projektu dostatečná data (chybí tým nebo úkol).
                </div>
                    <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zavřít</button>

                </div>

            }
        </div>
    </div>
</div>
