@(project: Project, teams: List[Team])

<div class="modal fade" id="add-team">
    <div class="modal-dialog">
        <div class="modal-content">
                <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Alokovat tým k projektu @project.name</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            @if(teams.size() > 0) {
                    <!-- Modal body -->
                @helper.form(action = helper.CSRF(routes.ProjectController.addTeam()), 'id -> "myForm") {
                    <div class="modal-body">
                        <div class="form-group">
                            <select name="team" id="teams" class="form-control">
                            @for(team <- teams) {
                                <option value="@team.teamId">@team.name</option>
                            }
                            </select>
                            <input type="hidden" name="project" value="@project.projectId">
                        </div>
                    </div>
                        <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Zavřít</button>
                        <button type="submit" class="btn btn-primary">Alokovat</button>
                    </div>
                }
            } else {
                <div class="modal-body">
                   Všechny týmy jsou obsazeny
                </div>
                    <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zavřít</button>
                </div>
            }
        </div>
    </div>
</div>