@(title: String, form: Form[Project], customers: List[Customer], project: Project)



@dashboard.dashboard(title) {

    @helper.form(action = helper.CSRF(routes.ProjectController.update()), 'id -> "myForm") {
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name">Název:</label>
                            <input class="form-control" id="name" name="name" value="@project.name">
                            <label for="budget">Hodiny:</label>
                            <input class="form-control" id="budget" name="budget" value="@project.budget">
                            <label for="name">Deadline:</label>
                            <input class="form-control" id="deadline" name="deadline" value="@project.getDeadLine">
                            <label for="customers">Zákazník (<a href="@routes.CustomerController.create()">Založit</a>)</label>
                            <select name="customer" id="customers" class="form-control">
                            @for(customer <- customers) {
                                <option value="@customer.customerId">@customer.name</option>
                            }
                            </select>
                            <input type="hidden" name="projectId" value="@project.projectId">
                            <input type="submit" class="form-control" value="Uložit">
                        </div>
                        @if(form.hasGlobalErrors) {
                            <p class="error">
                            @form.globalError.message
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

}