@(title: String, form: Form[Team], freeSupervisors: List[Employee], employees: List[Employee])



@dashboard.dashboard(title) {

    @helper.form(action = helper.CSRF(routes.TeamController.save()), 'id -> "myForm") {
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            @helper.inputText(form("title"), 'class -> "form-control", '_label -> "Jméno:")
                            <label for="teamleader">Teamleader:</label>
                            <select id="teamleader" name="teamleader" class="form-control">
                            @for(employee <- freeSupervisors) {
                                <option id="teamleader@employee.employeeId" class="team-leader-option" value="@employee.employeeId">@employee.firstname @employee.lastname</option>
                            }
                            </select>
                            <input type="submit" class="form-control" value="Přidat">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}