@(title: String, team: Team, nonTeamEmployees: List[Employee], teamEmployees: List[Employee], projects: List[Project])


@dashboard.dashboard(title) {
    @dashboard.team.member(team, nonTeamEmployees)
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <button type="button" class="nav-link btn btn-primary" data-toggle="modal" data-target="#add-member">
                                Přidat člena
                            </button>
                        </li>
                        <li class="nav-item">
                            <a href="@routes.TeamController.edit(team.getTeamId)">
                                <button type="button" class="nav-link btn btn-primary">
                                    Editovat
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Projekt</th>
                                <th scope="col">Stav</th>
                                <th scope="col">Aktuální úkoly</th>
                                <th scope="col">Deadline</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(project <- projects) {
                            <tr>
                                <th><a href="@routes.ProjectController.get(project.projectId)">@project.name</a></th>
                                <td>
                                @if(project.getState) {
                                    Pracuje se
                                } else {
                                    Hotovo
                                }

                                </td>
                                <td>
                                @for(assigment <- project.getAssigment) {
                                    <div><a href="@routes.AssigmentController.get(assigment.assigmentId)">@assigment.title</a></div>
                                }
                                </td>
                                <td>@project.getDeadLine</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Informace
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Jméno:</th>
                            <td>@team.name</td>
                        </tr>
                        <tr>
                            <th>Teamleader:</th>
                            <td><a href="@routes.UserController.get(team.getSupervizor.employeeId)"> @team.getSupervizor.getFirstname @team.getSupervizor.getLastname</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Členové
                </div>
                <ul class="list-group list-group-flush">
                @for(employee <- teamEmployees) {
                    <li class="list-group-item">
                        <a href="@routes.UserController.get(employee.getEmployeeId)">@employee.getFirstname @employee.getLastname</a>
                        <a href="@routes.TeamController.removeTeamMember(team.teamId, employee.employeeId)"><i class="fas fa-window-close"></i></a>
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>
}