@(title: String, teams: List[Team], loggedUser: Employee)

@dashboard.dashboard(title) {
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Tým</th>
                <th>Počet zaměstnanců</th>
                <th>Teamleader</th>
                <th>Aktuální úkoly</th>
            </tr>
        </thead>
        <tbody>
        @for(team <- teams) {
            @if(team.getSupervizor.getEmployeeId == loggedUser.employeeId) {
                <tr>
                    <td><a href="@routes.TeamController.get(team.teamId)">@team.name</a></td>
                    <td>@team.getEmployeesCount</td>
                    <td><a href="@routes.UserController.get(team.getSupervizor.getEmployeeId)">@team.getSupervizor.getFirstname @team.getSupervizor.getLastname</a></td>
                    <td>@for(assigment <- team.getAssigments) {
                        <a href="@routes.AssigmentController.get(assigment.assigmentId)"><div class="badge badge-info">@assigment.getTitle</div></a>
                    }</td>
                    <td><a href="@routes.TeamController.edit(team.teamId)">Editovat</a></td>
                    <td><a href="@routes.TeamController.get(team.teamId)">Detail</a></td>
                    <td><a href="@routes.TeamController.delete(team.teamId)">Smazat</a></td>
                </tr>
            }
        }
        </tbody>
    </table>
}