@(team: Team, employees: List[Employee])

<div class="modal fade" id="add-member">
    <div class="modal-dialog">
        <div class="modal-content">
                <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Přidat člena do týmu @team.name</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

                <!-- Modal body -->
            @helper.form(action = helper.CSRF(routes.TeamController.addTeamMember()), 'id -> "myForm") {
                <div class="modal-body">
                    <div class="form-group">
                        <select name="employee" id="members" class="form-control">
                        @for(employee <- employees) {
                            <option value="@employee.employeeId">@employee.firstname @employee.lastname</option>
                        }
                        </select>
                    </div>
                    <input type="hidden" value="@team.teamId" name="team">
                </div>
                    <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Zavřít</button>
                    <button type="submit" class="btn btn-primary">Přidat</button>
                </div>
            }
        </div>
    </div>
</div>