@(title: String, form: Form[Team], team: Team, freeSupervisors: List[Employee])

@dashboard.dashboard(title) {

    @helper.form(action = helper.CSRF(routes.TeamController.update()), 'id -> "myForm") {
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Jméno:</label>
                            <input value="@team.getName" class="form-control" name="name" id="name">
                            <label for="teamleader">Teamleader:</label>
                            <select id="teamleader" name="teamleader" class="form-control">
                            @for(employee <- freeSupervisors) {
                                <option id="teamleader@employee.employeeId" class="team-leader-option" value="@employee.employeeId"
                                @if(employee.getEmployeeId == team.getSupervizor.getEmployeeId) {selected} >
                                @employee.firstname @employee.lastname
                                </option>
                            }
                            </select>
                            <input type="hidden" name="team" value="@team.teamId">
                            <input type="submit" class="form-control" value="Uložit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


}