@(title: String, loggedUser: Employee, teams: List[Team], assigments: List[Assigment], taskForm: Form[Task])


@dashboard.dashboard(title) {
    @dashboard.profile.task(loggedUser, taskForm)
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a href="@routes.HomeController.tasks()"><button type="button" class="nav-link btn btn-primary">
                                Zobrazit provedené práce
                            </button></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h3>Přiřazené úkoly</h3>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Úkol</th>
                                <th scope="col">Popis</th>
                                <th scope="col">Projekt</th>
                                <th scope="col">Tým</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(assigment <- assigments) {
                            <tr>
                                <th>@assigment.title</th>
                                <td>@assigment.description</td>
                                <td><a href="@routes.AssigmentController.get(assigment.getProject.getProjectId)">@assigment.getProject.getName </a></td>
                                <td><a href="@routes.TeamController.get(assigment.getTeam.getTeamId)"> @assigment.getTeam.getName</a></td>
                                <td>
                                    <button data-assigment="@assigment.assigmentId" type="button" class="nav-link btn btn-primary add-task" data-toggle="modal" data-target="#add-task">
                                Zaznamenat
                                    </button>
                                </td>
                                <td>
                                    <a href="@routes.HomeController.getAssigmentTasks(assigment.assigmentId)">
                                        <button type="button" class="nav-link btn btn-primary">
                                            Přehled
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Osobní údaje
                </div>
                <img class="card-img-top">
                <div class="card-body">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item" style="border: none;">
                            <strong>Jméno</strong>: @loggedUser.firstname @loggedUser.lastname
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Email</strong>: @loggedUser.address.getEmail
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Taxa</strong>: @loggedUser.tax,- Kč/h
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Práva</strong>: @loggedUser.getRole.getRole
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    V týmech:
                </div>
                <img class="card-img-top">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    @for(team <- teams) {
                        <li class="list-group-item"><a href="@routes.TeamController.get(team.getTeamId)">
                            @team.getName
                            @if(team.getSupervizor.getEmployeeId == loggedUser.getEmployeeId) {
                                <i class="fas fa-chess-king"></i>
                            }
                        </a>
                        </li>
                    }
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <script>
            $('.add-task').click(function () {
                var assigmentId = $(this).data('assigment');
                $('#assigment-input').val(assigmentId);
            })
    </script>
}