@(title: String, loggedUser: Employee, tasks: List[Task], teams: List[Team])


@dashboard.dashboard(title) {
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a href="@routes.HomeController.profile()"><button type="button" class="nav-link btn btn-primary">
                                Zpět na profil
                            </button></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h3>Vypracované práce</h3>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Předmět</th>
                                <th scope="col">Popis</th>
                                <th scope="col">Hodiny</th>
                                <th scope="col">Úkol</th>
                                <th scope="col">Projekt</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(task <- tasks) {
                            <tr>
                                <th>@task.subject</th>
                                <td>@task.description</td>
                                <td>@task.hours</td>
                                <td>@task.assigment.getTitle</td>
                                <td>@task.assigment.getProject.getName</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Osobní údaje
                </div>
                <img class="card-img-top">
                <div class="card-body">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item" style="border: none;">
                            <strong>Jméno</strong>: @loggedUser.firstname @loggedUser.lastname
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Email</strong>: @loggedUser.address.getEmail
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Taxa</strong>: @loggedUser.tax,- Kč/h
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Práva</strong>: @loggedUser.getRole.getRole
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    V týmech:
                </div>
                <img class="card-img-top">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    @for(team <- teams) {
                        <li class="list-group-item">@team.name</li>
                    }
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <script>
            $('.add-task').click(function () {
                var assigmentId = $(this).data('assigment');
                $('#assigment-input').val(assigmentId);
            })
    </script>
}