@(title: String, loginForm : Form[views.formdata.LoginFormData])

@layout(title) {
    <div class="login">
        <div class="container">
            <div class="col-12 header">
                <h1 class="display-3">Project Management</h1>
            </div>
            @if(flash.get("error")) {
                <div class="alert alert-danger">@flash.get("error")</div>
            }
            <div class="col-12">
            @helper.form(action = helper.CSRF(routes.UserController.login()), 'id -> "myForm") {
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Heslo</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Přihlásit se</button>
            }
            </div>
        </div>
    </div>
}
