@(loggedUser: Employee)
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="@routes.HomeController.dashboard()">Project Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            @if(loggedUser.getRole.getRoleId == 1 || loggedUser.getRole.getRoleId == 3) {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projekty
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if(loggedUser.getRole.getRoleId == 1) {
                            <a class="dropdown-item" href="@routes.ProjectController.index()">Přehled</a>
                            <a class="dropdown-item" href="@routes.ProjectController.create">Nový projekt</a>
                        }
                        @if(loggedUser.getRole.getRoleId == 3) {
                            <a class="dropdown-item" href="@routes.ProjectController.index()">Přehled</a>
                        }
                    </div>
                </li>
            }
            @if(loggedUser.getRole.getRoleId == 1) {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Zaměstnanci
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="@routes.UserController.index">Přehled</a>
                        <a class="dropdown-item" href="@routes.UserController.create">Přidat zaměstnance</a>

                    </div>
                </li>
            }
            @if(loggedUser.getRole.getRoleId == 1 || loggedUser.getRole.getRoleId == 3) {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Týmy
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if(loggedUser.getRole.getRoleId == 1) {
                            <a class="dropdown-item" href="@routes.TeamController.index()">Přehled</a>
                        }
                        @if(loggedUser.getRole.getRoleId == 3) {
                            <a class="dropdown-item" href="@routes.TeamController.get(loggedUser.getTeam.getTeamId)">
                                Spravovat @loggedUser.getTeam.getName</a>
                        }

                        @if(loggedUser.getRole.getRoleId == 1) {
                            <a class="dropdown-item" href="@routes.TeamController.create">Přidat tým</a>
                        }
                    </div>
                </li>
            }
            @if(loggedUser.getRole.getRoleId == 1) {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Zákazníci
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="@routes.CustomerController.index">Přehled</a>
                        <a class="dropdown-item" href="@routes.CustomerController.create">Přidat zákazníka</a>

                    </div>

                </li>
            }
            @if(loggedUser.getRole.getRoleId == 1) {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Finance
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="@routes.FinancesController.index()">Přehled</a>
                        <a class="dropdown-item" href="@routes.FinancesController.create">Přidat výdaj</a>

                    </div>
                </li>
            }
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @loggedUser.getFirstname @loggedUser.getLastname
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@routes.HomeController.profile">Profil</a>
                    <a class="dropdown-item" href="@routes.UserController.logout">Odhlásit</a>
                </div>
            </li>
        </ul>
    </div>
</nav>