nav {
  margin-bottom: 60px;
}

h1 {
  margin-bottom: 30px;
}

.fancy {
  display: none;
}

.container {
  margin-bottom: 60px;
}

label {
  font-weight: 700;
}

select {
  margin-bottom: 30px;
}

.card {
  margin-bottom: 30px;
}

.badge {
  a {
    &:hover {
      text-decoration: underline !important;
    }
  }
}

.chart {
  max-height: 50px;
}
.card-header-pills {
  .nav-item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.list-group-item {
  a {
    color: #242424;
    text-decoration: underline;
    &:hover {
      color: grey;
      text-decoration: underline;
    }
  }
  .fa-window-close {
    float: right;
    &:after {
      content: " ";
      clear: bottom;
    }
  }
}

table {
  a {
    color: #242424;
    text-decoration: underline;
    &:hover {
      color: grey;
      text-decoration: underline;
    }
  }
}

.table-dark {
  a {
    color: white;
    text-decoration: underline;
    transition: all ease 0.3s;
    &:hover {
      color: grey;
      text-decoration: underline;
    }
  }
  .badge {
    transition: all ease 0.3s;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}

table {
  th, td {
    padding: 0.5rem 0.75rem !important;

  }
}

.fa-window-close {
  color: #7c0300;
  font-size: 25px;
}

button {
  .fas {
    color: white;
  }
}

.icon {
  color: white;
  font-size: 25px;
}