@(title: String)(content: Html)


@layout(title) {
    @mainmenu(Secured.getUser(ctx()))
    <div class="container">
        @if(flash.get("error")) {
            <div class="alert alert-danger">@flash.get("error")</div>
        }
        @if(flash.get("notification")) {
            <div class="alert alert-info" >@flash.get("notification")</div>
        }
        <h1>@title</h1>
        @content
    </div>

}
