@(title: String, form: Form[Employee], formAddress: Form[Address], roles : List[Role])

@dashboard.dashboard(title) {

    @helper.form(action = helper.CSRF(routes.UserController.save()), 'id -> "myForm", 'enctype -> "multipart/form-data") {
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            @helper.inputText(form("firstname"), 'class -> "form-control", '_label -> "Jméno:")
                            @helper.inputText(form("lastname"), 'class -> "form-control", '_label -> "Příjmení:")
                            @helper.inputText(formAddress("email"), 'class -> "form-control", '_label -> "Email:")
                            @helper.inputText(form("password"), 'class -> "form-control", '_label -> "Heslo:")
                            @helper.inputText(form("passwordAgain"), 'class -> "form-control", '_label -> "Heslo znovu:")
                            @helper.inputText(form("tax"), 'class -> "form-control", '_label -> "Základní taxa:")
                            <label for="roles">Práva:</label>
                            <select name="role" id="roles" class="form-control">
                            @for(role <- roles) {
                                <option value="@role.roleId">@role.role</option>
                            }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="photo">Fotka</label>
                            <input id="photo" type="file" class="form-control-file" name="photo">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            @helper.inputText(formAddress("street"), 'class -> "form-control", '_label -> "Ulice:")
                            @helper.inputText(formAddress("citycode"), 'class -> "form-control", '_label -> "PSČ:")
                            @helper.inputText(formAddress("town"), 'class -> "form-control", '_label -> "Město:")
                            @helper.inputText(formAddress("telnumber"), 'class -> "form-control", '_label -> "Telefonní číslo:")
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <input type="submit" class="form-control" value="Přidat">
                    </div>
                </div>
            </div>
        </div>
    }


}