@(title: String, employee: Employee, assigments: List[Assigment], teams: List[Team], taskForm: Form[Task])


@dashboard.dashboard(title) {
    @dashboard.employee.task(employee, taskForm)
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a href="@routes.UserController.tasks(employee.employeeId)"><button type="button" class="nav-link btn btn-primary">
                                Zobrazit provedené práce
                            </button></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h3>Přiřazené úkoly</h3>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Úkol</th>
                                <th scope="col">Popis</th>
                                <th scope="col">Projekt</th>
                                <th scope="col">Tým</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(assigment <- assigments) {
                            <tr>
                                <th>@assigment.title</th>
                                <td>@assigment.description</td>
                                <td><a href="@routes.ProjectController.get(assigment.getProject.getProjectId)">@assigment.getProject.getName</a></td>
                                <td><a href="@routes.TeamController.get(assigment.getTeam.getTeamId)">@assigment.getTeam.getName</a></td>
                                <td>
                                    <button data-assigment="@assigment.assigmentId" type="button" class="nav-link btn btn-primary add-task" data-toggle="modal" data-target="#add-task">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>
                                </td>
                                <td>
                                    <a href="@routes.UserController.getTasksOfAssigment(employee.employeeId, assigment.assigmentId)">
                                        <button type="button" class="nav-link btn btn-primary">
                                            <i class="fas fa-clipboard-list"></i>
                                        </button>
                                    </a>
                                </td>
                                <td><i class="fas fa-window-close"></i></td>
                            </tr>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Osobní údaje
                </div>
                @if(employee.getPhoto != null) {
                    <img class="card-img-top" src="/assets/@employee.getPhoto.getName">
                }
                <div class="card-body">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item" style="border: none;">
                            <strong>Jméno</strong>: @employee.firstname @employee.lastname
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Email</strong>: @employee.address.getEmail
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Taxa</strong>: @employee.tax,- Kč/h
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Práva</strong>: @employee.getRole.getRole
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    V týmech:
                </div>
                <img class="card-img-top">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    @for(team <- teams) {
                        <li class="list-group-item"><a href="@routes.TeamController.get(team.getTeamId)">
                        @team.getName
                            @if(team.getSupervizor.getEmployeeId == employee.getEmployeeId) {
                                <i class="fas fa-chess-king"></i>
                            }
                        </a>
                            <a href="@routes.TeamController.removeTeamMember(team.teamId,employee.employeeId)"><i class="fas fa-window-close"></i></a>
                        </li>
                    }
                    </ul>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <script>
            $('.add-task').click(function () {
                var assigmentId = $(this).data('assigment');
                $('#assigment-input').val(assigmentId);
            })
    </script>
}