@(title: String, employees: List[Employee])

@dashboard.dashboard(title) {
    <table class="table table-dark table-striped">
    <thead>
        <tr>
            <td>Jméno</td>
            <td>Příjmení</td>
            <td>Kontakt</td>
            <td>V týmech:</td>
        </tr>
    </thead>
        <tbody>
        @for(employee <- employees) {
            <tr>
                <td>@employee.firstname</td>
                <td>@employee.lastname</td>
                <td>@employee.address.getEmail</td>
                <td>
                    @for(team <- employee.getAllTeams) {
                        <div class="badge badge-info"><a href="@routes.TeamController.get(team.getTeamId)">@team.getName</a></div>
                }
                </td>
                <td><a href="@routes.UserController.get(employee.employeeId)">Detail</a></td>
                <td><a href="@routes.UserController.edit(employee.employeeId)">Upravit</a></td>
                <td><a href="@routes.UserController.delete(employee.employeeId)">Smazat</a></td>
            </tr>
        }
        </tbody>

    </table>
}