@(employee: Employee, form: Form[Task])

<div class="modal fade" id="add-task">
    <div class="modal-dialog">
        <div class="modal-content">
                <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Přidat práci</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

                <!-- Modal body -->
            @helper.form(action = helper.CSRF(routes.ProjectController.addTask()), 'id -> "myForm") {
                <div class="modal-body">
                    <div class="form-group">
                        @helper.inputText(form("subject"), 'class -> "form-control", '_label -> "Předmět:")
                        @helper.inputText(form("hours"), 'class -> "form-control", '_label -> "Doba:")
                        <label for="date">Datum:</label>
                        <input name="date" id="date" class="form-control datepicker">
                        @helper.textarea(form("description"), 'class -> "form-control", '_label -> "Popis:")
                        <input id="assigment-input" name="assignment" type="hidden">
                        <input name="employee" type="hidden" value="@employee.employeeId">
                        <input name="context" type="hidden" value="employee">
                    </div>
                        <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Zavřít</button>
                        <button type="submit" class="btn btn-primary">Přidat</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
