@(title: String, form: Form[Employee], formAddress: Form[Address], roles: List[Role], employee: Employee)

@dashboard.dashboard(title) {

    @helper.form(action = helper.CSRF(routes.UserController.update()), 'id -> "myForm") {
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="firstname">Jméno</label>
                            <input value="@employee.firstname" name="firstname" id="firstname" class="form-control">
                            <label for="lastname">Příjmení:</label>
                            <input value="@employee.lastname" name="lastname" id="lastname" class="form-control">
                            <label for="email">Email:</label>
                            <input value="@employee.address.getEmail" name="email" id="email" class="form-control">
                            <label for="password">Heslo:</label>
                            <input value="@employee.password" name="password" id="password" class="form-control">
                            <label for="password">Heslo znovu:</label>
                            <input value="@employee.password" name="password" id="password" class="form-control">
                            <label for="tax">Taxa:</label>
                            <input value="@employee.tax" name="tax" id="tax" class="form-control">
                            <label for="roles">Práva:</label>
                            <select name="role" id="roles" class="form-control">
                            @for(role <- roles) {
                                <option value="@role.roleId">@role.role</option>
                            }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="street">Ulice:</label>
                            <input value="@employee.address.getStreet" name="street" id="street" class="form-control">
                            <label for="citycode">PSČ:</label>
                            <input value="@employee.address.getCitycode" name="citycode" id="citycode" class="form-control">
                            <label for="town">Město:</label>
                            <input value="@employee.address.getTown" name="town" id="town" class="form-control">
                            <label for="telnumber">Telefon:</label>
                            <input value="@employee.address.getTelnumber" name="telnumber" id="telnumber" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <input type="hidden" name="addressId" value="@employee.address.getAddressId">
                        <input type="hidden" name="employeeId" value="@employee.employeeId">
                        <input type="submit" class="form-control" value="Uložit">
                    </div>
                </div>
            </div>
        </div>
    }


}